<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />













    
  </configSections>
  
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="2097151" useFullyQualifiedRedirectUrl="true" executionTimeout="1400"/>

  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>

        <binding name="BasicHttpBinding_SmartSoftwareServiceInterface"
                 maxReceivedMessageSize="2147483647"
                 maxBufferSize="2147483647" transferMode="Streamed" >

          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" 
               maxArrayLength="2147483647" maxBytesPerRead="2147483647"
               maxNameTableCharCount="2147483647"/>
        </binding>
        



      </basicHttpBinding>
    </bindings>
    <!--<behaviors>
      <serviceBehaviors>
        <behavior name="SmartSoftwareServiceBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
          <dataContractSerializer ignoreExtensionDataObject="false" maxItemsInObjectGraph="2147483646" />
        </behavior>
      </serviceBehaviors>
    </behaviors>-->
    <services>
      <service name="SmartSoftwareWebService.SmartSoftwareService" behaviorConfiguration="SmartSoftwareServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_SmartSoftwareServiceInterface"
        contract ="SmartSoftwareWebService.SmartSoftwareServiceInterface">
        </endpoint>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="SmartSoftwareServiceBehaviour">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <connectionStrings>
    <!--<add name="SmartSoftwareBazaEntities" connectionString="metadata=res://*/DataSloj.ModelSmartSoftwaee.csdl|res://*/DataSloj.ModelSmartSoftwaee.ssdl|res://*/DataSloj.ModelSmartSoftwaee.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\SmartSoftwareBaza.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="SmartSoftwareBazaEntities" connectionString="metadata=res://*/DataSloj.SmartSoftwareDataModel.csdl|res://*/DataSloj.SmartSoftwareDataModel.ssdl|res://*/DataSloj.SmartSoftwareDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\SmartSoftwareBaza.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>


</configuration>